{% extends '__base__.html' %}
{% block title %}
    O aplikacji
{% endblock %}
{% block content %}
    <div class="container" style="margin: 5px 5px 5px 5px">
    Aplikacja pozwala w szybki sposób przeprowadzać testy teoretyczne w okręgowych związkach piłki nożnej. <br><br>
    Domyślnie stworzone są cztery grupy użytkowników z różnymi uprawnieniami.
    Zarejestrowana osoba z odpowiednimi uprawinieniami(komisji szkoleniowej, organizatora bądź administratora) może układać pytania,
    dodawać je do bazy. Z dodanych pytań stworzyć test dla wybranej klasy bądź wszystkich klas. <br>
    Można organizować testy wybranego dnia, które są dostępne do zrobienia dla zarejestrowanych sędziów w odpowiedniej lidze.
    Po wykonaniu testu od razu widać wynik sprawdzianu, sędzia widzi swój test wraz z miejscami gdzie popełnił błąd.
    Widok ten jest również dostępny dla komisji szkoleniowej.
    <br><br><br>
    Aplikacja w fazie testów

    </div>
{% endblock %}