{% extends '__base__.html' %}
{% block title %}
    Wszystkie testy
{% endblock %}
{% block content %}

    <table>
    <tr>
        <th>Test</th>
        <th>Data</th>
        <th>Dla klasy</th>
        <th>Stworzony</th>
        <th>Dodanych pytań</th>
        <th>Opcje</th>
    </tr>
        {% for item in tests %}
            <tr>
            <td>{{ item.test_name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.for_league }}</td>
            <td>{{ item.created_by.username }}</td>
            <td>{{ item.questions.count }}</td>
            <td><small><a href="{% url 'test_detail' item.slug %}">Szczegóły</a> </small></td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}

