{% extends '__base__.html' %}
{% block title %}
    Wszystkie pytania
{% endblock %}
{% block content %}
    <div style="display: inline-flex">
    <form>
    <label for="filters">Filtruj</label>
    <select name="filters">
        <option>Klasa</option>
        <option>Ułożone przez</option>
        <option>Utworzone</option>
    </select>
    <input type="submit" value="Filtruj" class="btn btn-primary btn-sm">
    </form>
    <a href="{% url "create_question" %}" style="margin-left: 20px">Dodaj pytanie</a>
    </div>
    <table>
    <tr>
        <th>Pytanie</th>
        <th>Możliwe odpowiedzi</th>
        <th>Odpowiedź</th>
        <th>Dla klasy</th>
        <th>Ułożył</th>
        <th>Utworzone</th>
        <th>Data modyfikacji</th>
        <th>Akcja</th>
    </tr>
        {% for item in questions %}

            <tr>
            <td>{{ item.add_question }}</td>
            <td>{% for answers in answers %}{% if item.id == answers.question_id %}{{ answers.question_possible_answers }} {% endif %} {% endfor %}</td>
            <td>{% for answers in correct_answers %}{% if item.id == answers.question_id %}{{ answers.question_correct_answers }} {% endif %} {% endfor %}</td>
            <td>{{ item.for_league }}</td>
            <td>{{ item.added_by.username }} </td>
            <td>{{ item.added_date }}</td>
            <td>{{ item.modify_date }}</td>
            <td><small><div>
                <a href="#" class="add-to-test-class" data-question-id="{{ item.slug }}">Dodaj do testu </a>
                <ul class="test-new-container"></ul>
                </div>
            <a href="{% url 'edit_question' item.slug %}">Edytuj</a>
            <a href="#" class="dropdownclasstest">Usuń</a>
                  <div class="sub-menuintest">
                            <p>Czy na pewno usunąć?</p>
                            <a href="{% url 'delete_question' item.slug %}">Usuń</a>
                            <a href="{% url 'all_questions' %}">Zostaw</a>
                     </div>
            </small> </td>
            </tr>

    {% endfor %}
    </table>

    <!--script to confirm delete -->
       <script type="text/javascript">
   $(document).ready(function(){
     //jquery for toggle sub menus
     $('.dropdownclasstest').click(function(){
       $(this).next('.sub-menuintest').slideToggle();
     });
   });
   </script>
        <!--script to add question to selected test -->
    <script>
    let elementToAdd = document.querySelectorAll('.add-to-test-class')

    elementToAdd.forEach(function (element) {
        element.addEventListener('click', function () {
            const existul = element.parentNode.querySelector('.test-new-container')
            existul.innerHTML = ""

            {% for test in tests %}
                let newa{{ forloop.counter }} = document.createElement('a')
                newa{{ forloop.counter }}.setAttribute("href", '/add_question_to_test/{{ test.slug }}/'+element.getAttribute('data-question-id'))
                newa{{ forloop.counter }}.innerText = "{{ test.test_name }}"
                existul.appendChild(newa{{ forloop.counter }})
                existul.appendChild(document.createElement('br'))
            {% endfor %}

        })
    })

    </script>
{% endblock %}

