{% extends '__base__.html' %}
{% block title %}
    Wszystkie testy
{% endblock %}
{% block content %}

    <table>
    <tr>
        <th>Test</th>
        <th>Data</th>
        <th>Dla klasy</th>
        <th>Stworzony</th>
        <th>Dodanych pytań</th>
        <th>Opcje</th>
    </tr>
        {% for item in tests %}
            <tr>
            <td>{{ item.test_name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.for_league }}</td>
            <td>{{ item.created_by.username }}</td>
            <td>{{ item.questions.count }}</td>
            <td><small>
                <a href="{% url 'test_detail' item.slug %}">Szczegóły</a>
                <a href="{% url 'edit_test' item.slug%}">Edytuj</a>
                <a href="#" class="dropdownclasstest">Usuń</a>
                    <div class="sub-menuintest">
                        <p>Czy na pewno usunąć?</p>
                        <a href="{% url 'delete_test' item.slug %}">Usuń</a>
                        <a href="{% url 'browse_tests' %}">Zostaw</a>
                    </div>
            </small></td>
            </tr>

    {% endfor %}
    </table>
        <!--script to confirm delete -->
       <script type="text/javascript">
   $(document).ready(function(){
     //jquery for toggle sub menus
     $('.dropdownclasstest').click(function(){
       $(this).next('.sub-menuintest').slideToggle();
     });
   });
   </script>
{% endblock %}

