{% extends "__base__.html" %}
{% block title %}
    Test {{ user }}
{% endblock %}
{% block content %}
    <div class="containter">
        Pisze {{ user }}

    </div>
    <br>
    <form method="post" id="myForm">
    {% csrf_token %}
    <table>
    <tr>
        <th class="col-1">Nr</th>
        <th>Pytanie</th>
        <th>Odpowiedź</th>
    </tr>
        {% for item in test %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.question.add_question }}</td>
            <td>{% for possible in possible_answer %}
                {% if item.question_id == possible.question_id %}{{ possible.question_possible_answers }}
                    <input type="checkbox" name="{{ item.question.slug }}" value="{{ possible.question_possible_answers }}"
                           style="margin: 0px 12px 0px 0px">
                {% endif %}
            {% endfor %}</td>
            </tr>
        {% endfor %}

    </table>
    <input type="submit" value="Zapisz" onclick="return confirmSubmit()">
    </form>
<script>
function confirmSubmit() {
  var result = confirm("Czy na pewno chcesz zakończyć pisanie testu?");
  if (result) {
    document.getElementById("myForm").submit();
  }
  return result;
}
</script>

{% endblock %}