{% extends "__base__.html" %}
{% block title %}
    Test {{ user }}
{% endblock %}
{% block content %}
    <div class="containter">
        Pisze {{ user }}

    </div>
    Legenda:
    <table>
    <tr>
        <td>G- grać dalej</td>
        <td>J- jeszcze raz</td>
        <td>R- rzut rożny</td>
        <td>TAK/NIE</td>
    </tr>
    <tr>
        <td>B- rzut wolny bezpośredni</td>
        <td>S- rzut sędziowski</td>
        <td>Z- zakończenie</td>
        <td>+ - napomnienie</td>
    </tr>
    <tr>
        <td>P- rzut wolny pośredni</td>
        <td>Br- bramka</td>
        <td>Rb- rzut od bramki</td>
        <td>++ - wykluczenie</td>
    </tr>
    <tr>
        <td>K- rzut karny</td>
        <td>W- wrzut</td>
        <td colspan="2">A, B, C, D, E – wpisz wszystkie poprawne warianty</td>
    </tr>
    </table>
    <br>
    <form method="post" id="myForm">
    {% csrf_token %}
    <table>
    <tr>
        <th class="col-1">Nr</th>
        <th>Pytanie</th>
        <th>Odpowiedź</th>
    </tr>
        {% for item in test %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.question.add_question }}</td>
            <td>{% for possible in possible_answer %}
                {% if item.question_id == possible.question_id %}{{ possible.question_possible_answers }}
                    <input type="checkbox" name="{{ item.question.slug }}" value="{{ possible.question_possible_answers }}"
                           style="margin: 0px 12px 0px 0px">
                {% endif %}
            {% endfor %}</td>
            </tr>
        {% endfor %}

    </table>
    <input type="submit" value="Zapisz" onclick="return confirmSubmit()">
    </form>
<script>
function confirmSubmit() {
  var result = confirm("Czy na pewno chcesz zakończyć pisanie testu?");
  if (result) {
    document.getElementById("myForm").submit();
  }
  return result;
}
    let requestedTime = '{{ request.session.time_to }}'
    let timeget = new Date(requestedTime)
    let now = new Date()
    let time = (timeget.getTime()-now.getTime())/1000

    let timer = document.querySelector('#timer')
    let interval = setInterval(function () {
        time--;
        let minutes = Math.floor(time / 60)
        let seconds = Math.floor(time % 60 +2);
        timer.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds

        if (time <= 0) {
            clearInterval(interval);
            document.getElementById("myForm").submit();
        }
    }, 1000)
</script>

{% endblock %}