{% extends '__base__.html' %}
{% block title %}
    Test {{ test.test_name }}
{% endblock %}
{% block content %}
    <table>
    <tr>
        <th>Test</th>
        <th>Data</th>
        <th>Dla klasy</th>
        <th>Stworzony</th>
        <th>Pytań</th>
        <th>Akcja</th>
    </tr>

            <tr>
            <td>{{ test.test_name }}</td>
            <td>{{ test.date }}</td>
            <td>{{ test.for_league }}</td>
            <td>{{ test.created_by.username }}</td>
            <td>{{ test.questions.count }}</td>
            <td><small><a href="{% url 'edit_test' test.slug%}">Edytuj</a>
                    <a href="#" class="dropdownclasstest">Usuń</a>
                    <div class="sub-menuintest">
                        <p>Czy na pewno usunąć?</p>
                        <a href="{% url 'delete_test' test.slug %}">Usuń</a>
                        <a href="{% url 'test_detail' test.slug%}">Zostaw</a>
                    </div></small></td>
            </tr>
    </table>
    <br>
    <table>
    <tr>
        <th>Numer</th>
        <th class="col-8">Pytanie</th>
        <th>Możliwe odpowiedzi</th>
        <th class="col-1">Odpowiedź komisji</th>
        <th>Akcja</th>
    </tr>
        {% for item in que %}
        <tr class="col-8">
            <td>{{ forloop.counter }}</td>
            <td>{{ item.question.add_question }}</td>
            <td>{% for possbile in possible_answers%}{% if possbile.question.id == item.question.id %}
                {{ possbile.question_possible_answers.all_kind_answers }}{% endif %}{% endfor %}</td>
            <td class="col-1" style="text-align: center">
                {% for answer in correct_answers%}{% if answer.question.id == item.question.id %}
                {{ answer.question_correct_answers.all_kind_answers }}{% endif %}{% endfor %}</td>
            <td><a href="{% url 'remove_question_from_test' item.question.slug item.id %}">Usuń</a> </td>
        </tr>
        {% endfor %}
    </table>
        <!--script to confirm delete -->
       <script type="text/javascript">
   $(document).ready(function(){
     //jquery for toggle sub menus
     $('.dropdownclasstest').click(function(){
       $(this).next('.sub-menuintest').slideToggle();
     });
   });
   </script>
{% endblock %}

