{% extends '__base__.html' %}
{% load static %}
    {% block script %}
            <script src="{% static 'test.js' %}" defer></script>
    {% endblock %}
{% block title %}
    Test {{ test.test_name }}
{% endblock %}

{% block content %}
    <table>
    <tr>
        <th>Test</th>
        <th>Data</th>
        <th>Dla klasy</th>
        <th>Stworzony</th>
        <th>Pytań</th>
        <th>Akcja</th>
    </tr>
    <tr>
            <td>{{ test.test_name }}</td>
            <td>{{ test.date }}</td>
            <td>{{ test.for_league }}</td>
            <td>{{ test.created_by.username }}</td>
            <td>{{ test.questions.count }}</td>
            <td><small><a href="{% url 'edit_test' test.slug%}">Edytuj</a>
                    <a href="#" class="dropdownclasstest">Usuń</a>
                    <div class="sub-menuintest">
                        <p>Czy na pewno usunąć?</p>
                        <a href="{% url 'delete_test' test.slug %}">Usuń</a>
                        <a href="{% url 'test_detail' test.slug%}">Zostaw</a>
                    </div></small></td>
    </tr>

    </table>
    <br>
    <table id="questions-table">
    <tr>
        <th>Numer</th>
        <th class="col-8">Pytanie</th>
        <th>Możliwe odpowiedzi</th>
        <th class="col-1">Odpowiedź komisji</th>
        <th>Akcja</th>
    </tr>
    {% for item in que %}
        <tr class="rowclass">
            <td>{{ forloop.counter }}</td>
            <td>{{ item.question.add_question }}</td>
            <td>{% for possbile in possible_answers%}{% if possbile.question.id == item.question.id %}
                {{ possbile.question_possible_answers.all_kind_answers }}{% endif %}{% endfor %}</td>
            <td class="col-1" style="text-align: center">
                {% for answer in correct_answers%}{% if answer.question.id == item.question.id %}
                {{ answer.question_correct_answers.all_kind_answers }}{% endif %}{% endfor %}</td>
            <td><a href="{% url 'remove_question_from_test' item.question.slug item.id %}">Usuń</a> </td>
        </tr>
    {% endfor %}
        <tr class="hidden-row" style="display: none">
            <td></td>
            <td></td>
            <td style="word-wrap: break-word"></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <button type="button" id="add_quesiton" class="btn btn-primary btn-sm" style="margin: 5px 5px 5px 5px" onclick="AddDiv()">Dodaj pytanie</button>
    <button type="button" id="add_quesiton2" class="btn btn-primary btn-sm" style="margin: 5px 5px 5px 5px" onclick="buildTable()">Odswiez</button>
{% endblock %}

