{% extends '__base__.html' %}
{% block title %}
    Test {{ test.test_name }}
{% endblock %}
{% block content %}
    <table>
    <tr>
        <th>Test</th>
        <th>Data</th>
        <th>Dla klasy</th>
        <th>Stworzony</th>
        <th>Pytań</th>
    </tr>

            <tr>
            <td>{{ test.test_name }}</td>
            <td>{{ test.date }}</td>
            <td>{{ test.for_league }}</td>
            <td>{{ test.created_by.username }}</td>
            <td>{{ test.questions.count }}</td>
            </tr>
    </table>
    <br>
    <table>
    <tr>
        <th>Numer</th>
        <th class="col-8">Pytanie</th>
        <th>Odpowiedź</th>
        <th class="col-1">Odpowiedź komisji</th>
        <th>Akcja</th>
    </tr>
        {% for item in que %}
        <tr class="col-8">
            <td>{{ forloop.counter }}</td>
            <td>{{ item.question.add_question }}</td>
            <td>{{ item.question.question_possible_answer }}</td>
            <td class="col-1" style="text-align: center">{{ item.question.question_correct_answer}}</td>
            <td><a href="{% url 'remove_question_from_test' item.question.slug item.id %}">Usuń</a> </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

