{% extends '__base__.html' %}
{% block title %}
    Test {{ test.test_name }}
{% endblock %}
{% block content %}
    <table>
    <tr>
        <th>Test</th>
        <th>Data</th>
        <th>Dla klasy</th>
        <th>Stworzony</th>
    </tr>

            <tr>
            <td>{{ test.test_name }}</td>
            <td>{{ test.date }}</td>
            <td>{{ test.for_league }}</td>
            <td>{{ test.created_by.username }}</td>
            </tr>
    </table>
    <br>
    <table>
    <tr>
        <th>Pytanie</th>
        <th>Odpowiedź</th>
        <th>Odpowiedź komisji</th>
    </tr>

    </table>
{% endblock %}

