{% extends "__base__.html" %}
{% block title %}
    Test {{ user_solved }}
{% endblock %}
{% block content %}
        <table>
        <tr>
            <th>Osoba</th>
            <th>Wynik</th>
        </tr>
        <tr>
            <td>{{ user_solved }}</td>
            <td>{{ result.result }} / {{ solution.count }}</td>
        </tr>
    </table>
    <br>
    <table>
    <tr>
        <th class="col-1">Nr</th>
        <th>Pytanie</th>
        <th>Odpowiedź</th>
        <th>Prawidłowa odpowiedź</th>
        <th>Punkt</th>
    </tr>
        {% for item in solution %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.question.question.add_question }}</td>
            <td>{{ item.user_response}}</td>
            <td>{% for answer in correct %}{% if item.question.question.id == answer.question.id %}{{ answer.question_correct_answers.all_kind_answers }}, {% endif %}{% endfor %}</td>
            <td id="res">{{ item.result}}</td>
            </tr>
        {% endfor %}

    </table>

    <script>
    let tdfields = document.querySelectorAll('#res')
    tdfields.forEach(function (element) {
        if (element.innerText==1.0) {
            element.style.backgroundColor = "green"
            element.parentElement.style.backgroundColor = "#80FF45"

        }
        if (element.innerText==0) {
            element.parentElement.style.backgroundColor = "#FF8989"

        }
    })
    </script>
{% endblock %}